* {
    font-size: 50px;
}

.background {
    padding: 0;
}

#over_sidebar {
    flex: 1 0 auto;
}

#sidebar {
    background-image: linear-gradient(to top, #ccffcc 0%, #d1fdff 100%);
    height: 170px;
    flex: 0 0 auto;
}

.sidebar_buttons {
    float: right;
    margin: 10px 5px;
    height: 150px;
    width: 150px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
}

.window {
    font-size: 40px;
}

.text_button {
    font-size:50px;
}
