* {
    font-size: 40px;
}

#general_buttons_line {
    height: 110px;
}

#user_button {
    height: 100px;
    width: 100px;
}

#home_button {
    height: 100px;
    width: 100px;
}

#settings_button {
    height: 100px;
    width: 100px;
}

#edit_button {
    height: 100px;
    width: 100px;
}

.window {
    font-size: 40px;
}
