* {
    font-size: 50px;
}

.background {
    padding: 0;
    overflow: hidden;
}

html {
    background-color: #ccffcc;
}

#over_sidebar {
    height: 100%;
    padding-bottom: 180px;
}

#sidebar {
    position: absolute;
    background-image: linear-gradient(to top, #ccffcc 0%, #d1fdff 100%);
    height: 170px;
    width: 100%;
    bottom: 0;
}

.sidebar_buttons {
    float: right;
    margin: 10px 5px;
    height: 150px;
    width: 150px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
}

.window {
    font-size: 40px;
}

.text_button {
    font-size:50px;
}
