.ref_to_song_in_table {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 40px;
}

.list_of_contents {
    margin: 10px 0 0 40px;
    overflow-y: auto;
}

.song_search {
    margin: 20px 0 10px 40px;
    font-size: 30px;
    padding: 5px;
}

a {
    color: #06c;
    text-decoration: none;
    text-underline: none;
    white-space: nowrap;
}

#add_new_song, #add_song_by_id_container {
    font-size: 40px;
    margin: 0 40px 0;
    color: #0aa;
    display: none;
}

i {
    font-size: 40px;
}

#song_id_to_add {
    width: 150px;
}

#users_lists_container {
    margin-left: 40px;
    display: none;
}

#save_list_button {
    font-size: 40px;
    margin: 10px 0 20px 0;
    padding: 10px;
    background: none;
    border: none;
    display: none;
    width: max-content;
    border-radius: 10px;
}

#save_list_button:hover {
    cursor: pointer;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    color: #077;
}

.list_name {
    width: 100%;
    height: 100%;
    font-size: 60px;
    overflow-y: auto;
    text-align: center;
    min-height: 80px;
    padding: 20px 0;
}

#input_list_name {
    display: none;
}
