.ref_to_song_in_table {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 50px;
}

.list_of_contents {
    margin: 20px 40px 0 40px;
    overflow-y: auto;
}

.song_search {
    margin: 20px 40px 10px 40px;
    font-size: 40px;
    padding: 5px;
}

a {
    color: #06c;
    text-decoration: none;
    text-underline: none;
    white-space: nowrap;
}

#add_song {
    font-size: 50px;
    margin: 0 40px 10px 40px;
    color: #0aa;
}
