.ref_to_song_in_table {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 40px;
}

.list_of_contents {
    margin: 10px 0 0 40px;
    overflow-y: auto;
}

.song_search {
    margin: 20px 0 10px 40px;
    font-size: 30px;
    padding: 5px;
}

a {
    color: #06c;
    text-decoration: none;
    text-underline: none;
    white-space: nowrap;
}

#add_song {
    margin: 0 0 10px 40px;
    display: none;
}

#add_song_text {
    font-size: 40px;
    color: #0aa;
}

#add_songs_list {
    color: #0aa;
}

#personal_songs_lists {
    background: linear-gradient(to top, #ccffaa, #d1ffee);
    overflow-y: auto;
    padding: 20px 0 10px 20px;
    font-size: 30px;
}
