.ref_to_song_in_table {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 40px;
}

.list_of_contents {
    margin: 10px 0 0 40px;
    overflow-y: auto;
}

#song_search_container {
    padding: 30px 0 10px;
    background-color: #ccffaa;
    box-sizing: content-box;
}

@media (prefers-color-scheme: dark) {
    #song_search_container {
        /*background-color: #006000;*/
        background-color: #202023;
    }
}

#song_search {
    margin: 0 40px;
    padding: 5px;
}

#add_song {
    margin: 0 0 10px 40px;
    display: none;
}

#add_song_text {
    font-size: 40px;
}

#personal_songs_lists {
    background: linear-gradient(to top, #aaff88, #d1ffee);
    overflow: auto;
    padding: 20px 0 10px 20px;
    display: none;
}

@media (prefers-color-scheme: dark) {
    #personal_songs_lists {
        /*background: linear-gradient(to top, #004000, #000d81);*/
        background: #505050;
    }
}
